body{
    background-color: #faebefff;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    background-color: #333d79ff;
}

.titleName{
    color: #fff;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.search{
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    outline: none;
    border-radius: 20px;
    border: none;
    margin-right: 1rem;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 250px;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0.4px 6px 5px rgb(0,0,0,0.1);
    background-color: #333d79ff;
    position: relative;
    overflow: hidden;
}

.movie-info{
    color: rgb(206, 206, 206);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.movie-info span{
    border: 0.1rem solid black;
    padding: 0.1rem;
    background-color: black;
    border-radius: 20%;
    font-weight: bold;
}