body{
    background-color: #faebefff;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    background-color: #333d79ff;
}

.titleName{
    color: #fff;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.search{
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    outline: none;
    border-radius: 20px;
    border: none;
    margin-right: 1rem;
}

